// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #581845;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #E4FC5A;
    opacity: 5;
  }
